@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap");

html {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(#e66465, #9198e5);
}

h2 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 60px;
  color: azure;
  margin-bottom: 80px;
}

.container {
  background: #13191c00;
  padding-bottom: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.board-container tr td {
  box-shadow: 6.6px 13.1px 13.1px hsl(0deg 0% 0% / 0.3);
  border: 3px solid white;
  background: #999999;
  text-align: center;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.levels {
  display: flex;
  display: flex;
  flex-direction: space-evenly;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 200px;

  border: 2px solid;
  border-radius: 50%;
}

.timer {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 48px;
}

.level {
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 30px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.level:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.level:focus {
  user-select: auto;
}

.level:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.level:disabled {
  cursor: auto;
}
